<ng-container >
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
        </button>
        <span>Simple Time Tracker</span>
        <a routerLink='/' class="home-button"><mat-icon>home</mat-icon></a>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav mode="side" class="sidenav"
        [fixedInViewport]="false" [fixedTopGap]="1"
        [fixedBottomGap]="1">
            <mat-nav-list>
                <a mat-list-item routerLink='/projects'><mat-icon>work</mat-icon> Proyectos</a>
                <a mat-list-item routerLink='/project-tasks'><mat-icon>task</mat-icon> Tareas</a>
                <a mat-list-item routerLink='/time-entries'><mat-icon>schedule</mat-icon> Registros de tiempo</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>    
</ng-container>
    

  
