<div *ngIf="project$ | async as project">
    <form [formGroup]="projectForm" (ngSubmit)="saveProject(project)">
        <h1>{{pageTitle}}</h1>
        <mat-form-field class="full-width">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName="name">
            <mat-error *ngIf="projectForm.get('name').hasError('required')">
                For favor, ingrese un nombre válido.
            </mat-error>
        </mat-form-field>
            
        <mat-form-field class="full-width">
            <mat-label>Notas</mat-label>
            <textarea matInput formControlName="notes" rows="4"></textarea>
        </mat-form-field>  
    
        <button mat-raised-button
                color="warn"
                class="save-button"
                [routerLink]="['/projects']">
                <mat-icon>cancel</mat-icon>             
            Cancelar
        </button>

        <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!projectForm.valid"
                class="save-button">
            <mat-icon>check_circle</mat-icon>
            Guardar
        </button>
      
    </form>
</div>
