<div *ngIf="project$ | async as project">
    <form [formGroup]="projectForm" (ngSubmit)="saveProject(project)">
        <h1>{{pageTitle}}</h1>
        <mat-form-field class="full-width">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName="name" [readonly]="isReadOnly">
            <mat-error *ngIf="projectForm.get('name').hasError('required')">
                Por favor, ingrese un nombre válido.
            </mat-error>
        </mat-form-field>
            
        <mat-form-field class="full-width">
            <mat-label>Notas</mat-label>
            <textarea matInput formControlName="notes" rows="4" [readonly]="isReadOnly"></textarea>
        </mat-form-field>  
    
        <button mat-raised-button
                color="{{backButtonColor}}"
                class="action-button"
                [routerLink]="['/projects']">
                <mat-icon>{{backButtonIcon}}</mat-icon>             
            {{backButtonLabel}}
        </button>

        <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!projectForm.valid"
                class="action-button"
                *ngIf="!isReadOnly">
            <mat-icon>check_circle</mat-icon>
            Guardar
        </button>
      
    </form>

    <h2>Tareas</h2>
    <table mat-table [dataSource]="projectTasks" class="mat-elevation-z8 tasks-table">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let projectTask"> {{projectTask.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="notes">
          <th mat-header-cell *matHeaderCellDef> Notas </th>
          <td mat-cell *matCellDef="let projectTask"> {{projectTask.notes}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="['name','notes']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name','notes']"></tr>
    </table>

    <button mat-raised-button 
        color="primary"
        class="action-button"
        [routerLink]="['/project-tasks']"
        (click)="editProjectTasks(project.id)">
        <mat-icon>edit</mat-icon>
        Editar
</button>
</div>
