<div class="mat-h1 headline">Tareas</div>

<div class="filter-fields">
  <mat-form-field appearance="fill">
    <mat-label>Proyecto</mat-label>
    <mat-select (selectionChange)="projectSelected($event)">
      <mat-option>Todos</mat-option>
      <mat-option *ngFor="let project of projects$ | async" [value]="project.id">
        {{project.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<table mat-table [dataSource]="projectTasks$ | async" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let projectTask"> {{projectTask.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef> Notas </th>
      <td mat-cell *matCellDef="let projectTask"> {{projectTask.notes}} </td>
    </ng-container>

    <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef> Proyecto </th>
        <td mat-cell *matCellDef="let projectTask"> {{projectTask.project.name}} </td>
      </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let projectTask">
        <button mat-raised-button color="accent"
            class="action-button"
            [routerLink]="['/project-tasks/edit']"
            (click)="editProjectTask(projectTask)">
            <mat-icon>edit</mat-icon>
            Editar
        </button>
        <button mat-raised-button color="warn"
            class="action-button"
            (click)="deleteProjectTask(projectTask)">
            <mat-icon>delete</mat-icon>
            Eliminar
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['name','notes','project','actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name','notes','project','actions']"></tr>
</table>

<button mat-fab 
        color="primary"
        matTooltip="Agregar Tarea"
        class="add-button"
        [routerLink]="['/project-tasks/edit']"
        (click)="newProjectTask()">
    <mat-icon >add</mat-icon>
</button>
