<div>
  Nuevo registro
  <form [formGroup]="timeEntryForm" (ngSubmit)="startTimeEntry()" class="filter-fields">
    <mat-form-field appearance="fill">
      <mat-label>Proyecto</mat-label>
      <mat-select formControlName="projectId" (selectionChange)="projectSelected($event)">
        <mat-option *ngFor="let project of projects$ | async" [value]="project.id">
          {{project.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Tarea</mat-label>
      <mat-select formControlName="projectTaskId" [disabled]="">
          <mat-option *ngFor="let projectTask of projectTasks$ | async" [value]="projectTask.id">
          {{projectTask.name}}
          </mat-option>
      </mat-select>
    </mat-form-field>
  
    <button mat-raised-button
            type="submit"
            class="action-button play-button">
            <mat-icon>play_circle</mat-icon>
    </button>

    <div>{{ timeEntryDate | date: "HH 'h' mm 'm' ss 's'" }}</div>
  </form> 
</div>

<div class="mat-h1 headline">Registros de tiempo</div>

<form [formGroup]="filterForm" (ngSubmit)="filterTimeEntries()" class="filter-fields">
    <mat-form-field appearance="fill">
        <mat-label>Proyecto</mat-label>
        <mat-select formControlName="project" (selectionChange)="projectSelected($event)">
          <mat-option>Todos</mat-option>
          <mat-option *ngFor="let project of projects$ | async" [value]="project.id">
            {{project.name}}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tarea</mat-label>
      <mat-select formControlName="projectTask" [disabled]="">
          <mat-option>Todas</mat-option>
          <mat-option *ngFor="let projectTask of projectTasks$ | async" [value]="projectTask.id">
          {{projectTask.name}}
          </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Rango de fechas</mat-label>
        <mat-date-range-input formGroupName="dateRange" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Desde">
          <input matEndDate formControlName="end" placeholder="Hasta">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!filterForm.valid"
                class="action-button">
            <mat-icon>search</mat-icon>
            Filtrar
    </button>

    <button mat-raised-button
                color="warn"
                type="button"
                class="action-button"
                (click)="setInitialState()">
            <mat-icon>replay</mat-icon>
            Reiniciar
    </button>
</form>

<table mat-table [dataSource]="timeEntries$ | async" class="mat-elevation-z8">

    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef> Proyecto </th>
      <td mat-cell *matCellDef="let timeEntry"> {{timeEntry.project.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="task">
      <th mat-header-cell *matHeaderCellDef> Tarea </th>
      <td mat-cell *matCellDef="let timeEntry"> {{timeEntry.projectTask ? timeEntry.projectTask.name : ''}} </td>
    </ng-container>

    <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef> Inicio </th>
        <td mat-cell *matCellDef="let timeEntry"> {{timeEntry.startDate | date: 'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef> Fin </th>
        <td mat-cell *matCellDef="let timeEntry"> {{timeEntry.endDate | date: 'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef> Notas </th>
      <td mat-cell *matCellDef="let timeEntry"> {{timeEntry.notes}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let timeEntry">
        <button mat-raised-button color="accent"
            class="action-button"
            [routerLink]="['/time-entries/edit']"
            (click)="editTimeEntry(timeEntry)">
            <mat-icon>edit</mat-icon>
            Editar
        </button>
        <button mat-raised-button color="warn"
            class="action-button"
            (click)="deleteTimeEntry(timeEntry)">
            <mat-icon>delete</mat-icon>
            Eliminar
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['project','task','start','end','notes','actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['project','task','start','end','notes','actions']"></tr>
</table>
