<div>
    <div class="mat-h1 headline">Nuevo registro</div>
    
    <form [formGroup]="timeEntryForm" (ngSubmit)="startTimeEntry()" class="filter-fields">
      <mat-form-field appearance="fill">
        <mat-label>Proyecto</mat-label>
        <mat-select formControlName="projectId" (selectionChange)="projectSelected($event)">
          <mat-option *ngFor="let project of projects$ | async" [value]="project.id">
            {{project.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="timeEntryForm.get('projectId').hasError('required')">
            Por favor, seleccione un proyecto.
        </mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Tarea</mat-label>
        <mat-select formControlName="projectTaskId">
            <mat-option *ngFor="let projectTask of projectTasks$ | async" [value]="projectTask.id">
            {{projectTask.name}}
            </mat-option>
        </mat-select>
      </mat-form-field>
    
      <button mat-raised-button
              *ngIf="!timerActive"
              type="submit"
              [disabled]="!timeEntryForm.valid"
              class="action-button play-button">
              <mat-icon>play_circle</mat-icon>
      </button>
  
      <button mat-raised-button
              *ngIf="timerActive"
              type="reset"
              class="action-button stop-button"
              (click)="completeTimeEntry()">
              <mat-icon>stop_circle</mat-icon>
      </button>
  
      <div class="mat-h2 headline" *ngIf="timerActive">{{ timeEntryDuration | date: "HH 'h' mm 'm' ss 's'" : 'UTC' }}</div>
    </form> 
  </div>
